.Grid-Categorias {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 10px;
    border-bottom: 2px solid orange;

  }

.Grid-Item {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    max-width: 150px;
    margin: 20;
   
}
.Grid-Item a{
    font-size: 20px;
    text-decoration: none;
    font-weight: Roboto;
    text-align: center;
    font-weight: bold;
    color: #080808;
}

.img1 {
    width:100%;
    height:80%;
    border-radius: 50%;
}
