
.carousel {
    width:80%;
    height: 90%;
    background-size: cover;
    background-repeat: no-repeat;
    background: cover;
    z-index: 10;
  }
.carousel1{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background: cover;

}
