.container {
  display: flex;
  justify-content: center;
}

.carousel {
  width: 100%;
  height: 80%;
  background-size: cover;
  background-repeat: no-repeat;
  background: cover;
  /* z-index: -1; */
  padding: 0px;
  margin-bottom: -120px;
}
.carousel1 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background: cover;
}
