.paginado{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 50px 20px 50px;
  grid-gap: 5px;
}
.pagina{
  background-color: white;
  display: grid;
  align-items: center;
  justify-content: center;
}
.card{
  background-color:red;
}